<?doctype html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="build/ngWidgets.css" />
</head>


<body>

<h1>ngWidgets examples</h1>

<section>
    <h2>ngwTable</h2>
    <p>... work in progress ...</p>
</section>
<hr>

<section ng-init="bratus = bratus2">
    <h2>ngwTree</h2>
    <label>model</label>
    <button ng-click="bratus = bratus1">Bratus1</button>
    <button ng-click="bratus = bratus2">Bratus2</button>
    <button ng-click="bratus = bratus3">Bratus3</button>
    <label>emphasis</label>
    <input ng-model="bratus.emphasis" >
    <p>Selected node is: {{bratus.$selected.$label()}}</p>
    <ngw-table-tree model="bratus" children="natus" data="nomen" highlight="bratus.emphasis"></ngw-table-tree>
    <button ng-click="bratus.$expand()">bratus.$expand()</button>
    <button ng-click="bratus.$collapse()">bratus.$collapse()</button>
</section>
<hr>


<section ng-init="arbor = arbor1">
    <h2>ngwTableTree</h2>
    <label>model</label>
    <button ng-click="arbor = arbor1">Arbor1</button>
    <button ng-click="arbor = arbor2">Arbor2</button>
    <button ng-click="arbor = arbor3">Arbor3</button>
    <label>emphasis</label>
    <input ng-model="arbor.emphasis">
    <p>Selected node is: {{arbor.$selected.$label()}}</p>
    <ngw-table-tree
            model="arbor"
            headers="caput"
            children="natus"
            data="arca"
            highlight="arbor.emphasis"
            ></ngw-table-tree>
    <button ng-click="arbor.$expand()">arbor.$expand()</button>
    <button ng-click="arbor.$collapse()">arbor.$collapse()</button>
</section>
<hr>


<section ng-init="lignum = lignum1">
    <h2>ngwRepeat</h2>
    <label>model</label>
    <button ng-click="lignum = lignum1">Lignum1</button>
    <button ng-click="lignum = lignum2">Lignum2</button>
    <button ng-click="lignum = lignum3">Lignum3</button>
    <label>emphasis</label>
    <input ng-model="lignum.emphasis" >
    <p>Selected node is: {{lignum.$selected.$label()}}</p>
    <!-- TODO <p>Highlighted nodes are: <span ng-repeat="node in lignum.$highlights">{{node.$label()}}</span></p>-->
    <table class="table table-tree">
        <tr>
            <th></th>
            <th></th>
            <th>$label()</th>
            <th>$parent</th>
            <th>$isRoot</th>
            <th>$level</th>
            <th>$path</th>
            <th>$isFolder</th>
            <th>$isOpen</th>
            <th>$isSelected</th>
            <th>$isHighlighted</th>
        </tr>
        <tr ngw-repeat="nodus in lignum" children="natus" data="nomen">
            <th class="clickable"><span ng-show="nodus.$isFolder" ng-click="nodus.$toggle()">$toggle()</span></th>
            <th class="clickable" ng-click="nodus.$select()">$select()</th>
            <td ng-class="'level'+nodus.$level" ng-bind-html="nodus.$label(lignum.emphasis)"></td>
            <td>{{nodus.$parent.$label()}}</td>
            <td>{{nodus.$isRoot}}</td>
            <td>{{nodus.$level}}</td>
            <td><span ng-repeat="node in nodus.$path">/{{node.$label()}}</span></td>
            <td>{{nodus.$isFolder}}</td>
            <td>{{nodus.$isOpen}}</td>
            <td>{{nodus.$isSelected}}</td>
            <td>{{nodus.$isHighlighted}}</td>
        </tr>
    </table>
    <button ng-click="lignum.$expand()">lignum.$expand()</button>
    <button ng-click="lignum.$collapse()">lignum.$collapse()</button>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.min.js"></script>
<script src="src/ngWidgets.js"></script>
<script src="example.js"></script>
</body>
</html>