
<section ng-controller="treeTableController">
    <h2>ngwTreeTable</h2>
    <label>model</label>
    <button ng-click="arbor = arbor1">Arbor1</button>
    <button ng-click="arbor = arbor2">Arbor2</button>
    <button ng-click="arbor = arbor3">Arbor3</button>
    <br>
    <label>emphasis</label>
    <input ng-model="arbor.emphasis">
    <br>
    <button ng-click="arbor.$expand()">arbor.$expand()</button>
    <button ng-click="arbor.$collapse()">arbor.$collapse()</button>
    <div ngw:tree-table
         model="arbor"
         children="natus"
         name="nomen"
         headers="cognomen,nativitate"
         data="arca"
         highlight="arbor.emphasis"
    ></div>
    <p>Selected data is: {{arbor.$selected.$name}}</p>

    <!--<h2>ngwTreeTable - nested data</h2>
    <label>model</label>
    <button disabled>Arbor4</button>
    <label>emphasis</label>
    <input ng-model="arbor4.emphasis">
    <p>Selected data is: {{arbor4.$selected.$data[0]}}</p>
    <div ngw:tree-table
            model="arbor4"
            headers="caput"
            children="natus"
            data="bonum.arca"
            highlight="arbor4.emphasis"
            ></div>
    <button ng-click="arbor4.$expand()">arbor.$expand()</button>
    <button ng-click="arbor4.$collapse()">arbor.$collapse()</button>-->



    <!--<h2>ngwTreeTable - custom renderer</h2>
    <label>model</label>
    <button disabled>Arbor5</button>
    <label>emphasis</label>
    <input ng-model="arbor5.emphasis">
    <p>Selected data is: {{arbor5.$selected.$data[0]}}</p>
    <div ngw:tree-table
        model="arbor5"
        headers="caput"
        renderer="renderer"
        children="natus"
        data="bonum.arca"
        highlight="arbor5.emphasis"
        ></div>
    <button ng-click="arbor5.$expand()">arbor.$expand()</button>
    <button ng-click="arbor5.$collapse()">arbor.$collapse()</button>-->
</section>
