<section ng-controller="treeTableController" ng-init="arbor = arbor1">

  <div class="btn btn-group pull-right">
    <button class="btn btn-default" ng-click="arbor = arbor1">Arbor1</button>
    <button class="btn btn-default" ng-click="arbor = arbor2">Arbor2</button>
    <button class="btn btn-default" ng-click="arbor = arbor3">Arbor3</button>
  </div>

  <h2 style="margin-bottom: 32px">ngwTreeTable</h2>

  <div class="well">
    <table class="table">
      <tr>
        <th>$name</th>
        <th>$parent</th>
        <th>$isRoot</th>
        <th>$level</th>
        <th>$isFolder</th>
        <th>$isOpen</th>
        <th>$isHighlighted</th>
      </tr>
      <tr>
        <td>{{arbor.$selected.$name}}</td>
        <td>{{arbor.$selected.$parent.$name}}</td>
        <td>{{arbor.$selected.$isRoot}}</td>
        <td>{{arbor.$selected.$level}}</td>
        <td>{{arbor.$selected.$isFolder}}</td>
        <td>{{arbor.$selected.$isOpen}}</td>
        <td>{{arbor.$selected.$isHighlighted}}</td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default" >
    <div class="panel-heading">
      <div ngw:toolbar for="mywidget" class="pull-right"></div>
      <h3 class="panel-title">{{arbor.id}}</h3>
    </div>
    <div class="panel-body">
      <div ngw:tree-table
           id="mywidget"
           model="arbor"
           children="natus"
           name="nomen"
           headers="caput"
           data="arca"
          ></div>
    </div>
  </div>



  <!--<h2>ngwTreeTable - nested data</h2>
  <label>model</label>
  <button disabled>Arbor4</button>
  <label>emphasis</label>
  <input ng-model="arbor4.emphasis">
  <p>Selected data is: {{arbor4.$selected.$data[0]}}</p>
  <div ngw:tree-table
          model="arbor4"
          headers="caput"
          children="natus"
          data="bonum.arca"
          highlight="arbor4.emphasis"
          ></div>
  <button ng-click="arbor4.$expand()">arbor.$expand()</button>
  <button ng-click="arbor4.$collapse()">arbor.$collapse()</button>-->


  <!--<h2>ngwTreeTable - custom renderer</h2>
  <label>model</label>
  <button disabled>Arbor5</button>
  <label>emphasis</label>
  <input ng-model="arbor5.emphasis">
  <p>Selected data is: {{arbor5.$selected.$data[0]}}</p>
  <div ngw:tree-table
      model="arbor5"
      headers="caput"
      renderer="renderer"
      children="natus"
      data="bonum.arca"
      highlight="arbor5.emphasis"
      ></div>
  <button ng-click="arbor5.$expand()">arbor.$expand()</button>
  <button ng-click="arbor5.$collapse()">arbor.$collapse()</button>-->
</section>
